* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: rgb(144, 143, 143);
}

form {
    max-width:200px;
    margin:20px auto;
}

fieldset {
    padding:10px;
}

label {
    display:block;
    margin-bottom:5px;
    font-weight: bold;
    font-size: 1.2em;
}
input[type=submit] {
    display: block;
    margin:auto;
}

select {
    display:block;
    margin-bottom: 10px;
}

form ul {
    margin-bottom:10px;
    list-style-type: none;
}

.box {
    width:400px;
    padding:10px;
    margin:0 auto;
}

.error {
    color:red;
    font-style: italic;
    text-align: center;
}

.result {
    font-size: larger;
    text-align: center;
}

a {
    display: block;
    margin: auto;
    text-align: center;
}
legend {
    margin: auto;
    text-decoration: underline;
}